<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.tarc.mad_assignment">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_Assignment">
        <activity
            android:name=".PaymentHistory"
            android:exported="true" />
        <activity
            android:name=".PaymentMenu"
            android:exported="true" />
        <activity
            android:name=".CardPay"
            android:exported="true"
            android:label="Card Payment"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".OfflinePay"
            android:exported="true"
            android:label="Pay At 7-Eleven"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".EmptyActivity2"
            android:exported="true"
            android:label="List"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".EmptyActivity"
            android:exported="true"
            android:parentActivityName=".NewApplicationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="my.edu.tarc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAAze5epDJw4D6AK669ecvWfxdovdi3o-w" />

        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="Our Location"
            android:parentActivityName=".ContactUs" />
        <activity
            android:name=".ContactUs"
            android:exported="true"
            android:label="Contact Us"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".NewApplicationActivity"
            android:exported="true"
            android:label="Vehicle list"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="@string/myProfile"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:label="@string/payment"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".RewardActivity"
            android:exported="true"
            android:label="@string/reward"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".ReferralActivity"
            android:exported="true"
            android:label="@string/referral"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".DashBoardActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ForgetPWActivity"
            android:exported="true"
            android:label="@string/forgetPW"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".RegisterUserActivity"
            android:exported="true"
            android:label="@string/reg"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vehicle_add"
            android:exported="true"
            android:label="Vehicle Details"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MAD_Assignment.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>